h1{
    text-align:center;
    color:red;
    }
html{
    background:yellow;
    }
img {
    width:800px;
    text-align:center;
    }  
h1{
    font-family: 'Spicy Rice', cursive;
    }
p{
    
    }    