h1{
    text-align:center;
    color:red;
    }
html{
    background:purple;
    }
img {
    width:500px;
    text-align:center;
    }  
h1{
    font-family: 'Spicy Rice', cursive;
    }
h2{
    font-family: 'Pattaya', sans-serif;
    text-align:center;
    }
a :hover{
    border: solid 10px white;
    }